.scene {
  position: fixed;
  inset: 0;
  perspective: 300px;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  z-index: -1;
  background-color: #e9e9e9;
  color: #3e3e3e;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.scene.dark-mode{
    background-color: #222222;
    color: #666;
}

.binary-char {
  position: absolute;
  will-change: transform, opacity;
  animation-name: float;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  0% {
    transform: translateY(15px) rotateX(0deg);
    opacity: var(--start-opacity);
  }
  100% {
    transform: translateY(-15px) rotateX(5deg);
    opacity: var(--end-opacity);
  }
}